---
import MixItLayout from "../layouts/MixIt-Layout.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
---
<MixItLayout
        title=""
        description="Your Account"

>
    <html lang="en">
    <body>
    <main>

    </main>
    </body>
    </html>

</MixItLayout>
---
