---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MixItLayout from "../layouts/MixIt-Layout.astro";
---
<MixItLayout
	description="MixIt"

>
<!doctype html>
<html lang="en">
	<body>
		<main>
			<h1>Welcome to MixIT!!</h1>

			<p>
				Your site if you want to know which Cocktail you can mix with the Ingredients you have .
			</p>

			<div class="Pictures">
				<img src="/src/content/assets/cocktail_1.jpeg">
				<img src="/src/content/assets/Cocktail_2.jpg"/>
			</div>

		</main>
	</body>
</html>
</MixItLayout>